.extra-menu{
    display: flex !important;
}
body{
    background-color: white;
}
.body{
    transform: translateY(150px);
    min-height: 150px;
    margin-bottom: 200px;
}
.blog{
    display: flex;
    height: 150px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}
.blog{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(221, 215, 215);
}
.blog img{
    width: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
}
h1{
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 1px solid rgb(219, 215, 215);
}
.blog .info{
    padding: 0 2%;
    max-width: 100%;
}
.blog .info .title{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}
.pagnition{
    display: flex;
    justify-content: center;
}
.summary{
    height: 50%;
    white-space:wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.summary::after{
    content: "...";
}