.extra-menu{
    display: flex !important;
}
.body{
    transform: translateY(200px);
    margin-bottom: 250px;
    min-height: 100px;
}
.slide-show{
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
}
.slide-show img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}
.slide-show > img:not(:first-child){
    display: none;
}
.slide-show .button{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 3%;
    height: 100%;
    align-items: center;
}
.slide-show .button button{
    border: none;
    background-color: rgba(82, 80, 80, 0.4);
    transition: 0.3s;
    outline: none;
    box-sizing: content-box;
    width: 30px;
    height: 40px;
    text-align: center;
    color: white;
}
.slide-show .button button:hover{
    background-color: rgba(53, 53, 53, 0.7);
}
.room-detail{
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 15%;
}
.room-detail > div{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-right: 10px;
}
.room-detail .top-info{
    margin-right: 0px;
}
h4{
    background-color: rgb(245, 244, 244);
    padding: 5px;
    border-radius: 15px;
}
h4 i{
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.room-info div div:first-child{
    font-size: 12px;
    color: rgb(88, 86, 86);
}
.room-info span{
    color: black;
}
.rate{
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
}
.rate > span{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}
.star .st-checked{
    color: rgb(182, 182, 33);
}
.comment-section{
    width: 100%;
}
.comment-section .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments .your-cmt{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    align-items: center;
}
.comments .your-cmt textarea{
    display: block;
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px 5px 10px 5px;
}
.comments .your-cmt button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(66, 66, 223);
}
.other-cmt{
    min-height: 30px;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 0px 0 3px 0;
}
.other-cmt > a:last-child{
    font-size: 12px;
    padding-left: 3%;
    color: rgb(83, 82, 82);
    font-style: italic;

}
.comment {
    padding: 0 4%;
    border-bottom: 1px solid rgb(214, 201, 201);
}
.comment p{
    margin-bottom: 5px;
    font-size: 12px;
}
.comment > a{
    font-size: 14px;
    font-weight: 500;
}
.comment .time{
    font-size: 10px;
    color: gray;
}
.rate-section{
    position: relative;
}
.overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 50px;
    padding: 0 10px;
    background-color: rgba(67, 181, 185, 0.7);
    right: 0;
    top: 110%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.overlay label{
    cursor: pointer;
}
.overlay input[type="radio"]{
    display: none;
}

#del-rate{
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    font-size: 12px;
    padding: 5px 7px;
    outline: none;
}
.yellow{
    transition: 0.3s;
    color: yellow;
}
@media only screen and (max-width: 768px){
    .slide-show img{
        width: 80%;
    }
    .slide-show .button{
        width: 80%;
    }
}