* {
  box-sizing: border-box;
  outline: none;
}

.header > div:not(:first-child) {
  position: relative;
  transform: translateY(40px);
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f7346f;
  width: 100%;
  min-height: 40px;
  position: fixed;
  z-index: 10;
  clear: right;
  flex-wrap: wrap;
}

.top-bar .extra-menu {
  display: flex;
  flex-basis: 100%;
  min-height: 44px;
  padding: 10px;
  box-sizing: initial;
  justify-content: space-around;
  background-color: rgb(235, 93, 147);
  display: none;
}

.top-bar .extra-menu .logo {
  width: auto;
}

.top-bar .extra-menu .search-box {
  max-height: 44px;
}
.top-bar .large {
  display: flex;
  flex-wrap: wrap;
}
.large .drop-notify{
  margin-right: 10px;
}
.top-bar .large > span {
  color: white;
  margin: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.top-bar .large > a {
  color: white;
  text-decoration: none;
}
.top-bar .large >a:first-child {
  margin-left: 15px;
}
.main-bar {
  height: auto;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/2082087/pexels-photo-2082087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
      no-repeat 30% center;
  transform: translateY(40px);
}

.info {
  padding: 5% 8%;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.option a {
  display: inline-block;
  margin-left: 20px;
  font-size: large;
  color: white;
  transition: linear 0.3s;
  text-decoration: none;
  flex-grow: 1;
}

.option > a:hover {
  transform: scale(1.1);
}

.staying {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.search-box {
  display: flex;
  max-width: 600px;
}

.info .short {
  min-width: 50%;
  max-width: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
  margin-top: 48px;
}

.icon {
  color: rgb(241, 41, 74);
  font-size: 20px;
  margin-right: 3px;
}
.search-box .dropdown {
  display: flex;
  background-color: white;
  padding-left: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #bfbfbf;
}
.dropdown span {
  display: flex;
  align-items: center;
}
.search-box .dropdown .dropBtn {
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 44px;
  border: none;
  padding: 10px 10px 10px 0px;
  outline: none;
}

.dropdown .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.95);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgb(224, 215, 224);
}

.search-input {
  flex-grow: 1;
  display: flex;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding-right: 6px;
}

.search-box input {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
}

.submit-button {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.submit-button button {
  height: 35px;
  width: 35px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #4877f8;
  color: white;
}

.app {
  display: flex;
}

.app > a {
  display: block;
  height: 50px;
  margin-right: 20px;
}

.app > a img {
  height: 100%;
}

.info .app-link {
  margin-top: 30px;
}

body {
  background-color: rgb(238, 234, 238);
}

.trending {
  padding: 5% 8%;
  width: 100%;
}

.trending .item {
  display: flex;
  width: 18%;
  height: 120px;
  border-radius: 15px;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
}

.trending .items {
  display: flex;
  justify-content: space-between;
}

.trending .item span {
  color: white;
}

.main-section {
  padding-top: 0px;
  width: 84%;
  margin-bottom: 30px;
}

.main-section .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.room-list {
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(252, 248, 248);
}

.room {
  max-width: 100%;
  max-height: 300px;
  margin: 0;
  transition: 0.3s;
}

.room-img {
  overflow: hidden;
  padding: 0;
  border-radius: 15px;
  width: 100%;
  max-height: 300px;
}

.room-img img {
  display: block;
  transition: linear 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room:hover .room-img img {
  transform: scale(1.1, 1.1);
  object-fit: cover;
}

.room-info {
  color: black;
}

.room-info p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.room-info span {
  color: rgb(90, 88, 88);
  font-size: 16px;
}

.rooms a:hover {
  text-decoration: none;
}

.room-detail .line .icon {
  margin-right: 10px;
}

footer a {
  color: white;
}

footer {
  background-color: #1c2331;
}

footer hr {
  background-color: #f7346f;
}

footer p,
footer h6,
footer div {
  color: white;
}

.view-all {
  display: block;
  text-align: center;
}

.posts {
  margin-left: 20px;
  background-color: rgb(241, 239, 239);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
}

.posts a:hover {
  text-decoration: none;
}

.post {
  display: block;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
  border: 1px solid rgba(196, 191, 191, 0.3);
  margin-top: 10px;
}

.post:hover div {
  transition: 0.3s;
  color: rgb(94, 91, 91);
}

.post-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.post-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.post:hover img {
  transform: scale(1.05, 1.05);
}

.post .post-info {
  color: black;
  padding: 10px 10px;
}

.post-info .title {
  font-size: 20px;
  margin-bottom: 20px;
}

.posts a:last-child {
  display: block;
  text-align: center;
  padding-top: 15px;
}
.drop-notify{
  position: relative;
}
.note-table{
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 300px;
  background-color: #f7346f;
  top: 120%;
  left: 10%;
  transition: 0.3s;
}
.drop-notify:hover .note-table{
  visibility: visible;
  opacity: 1;
}

.note-table a{
  padding: 8px 0;
}
.drop-notify a{
  color: #ffffff;
  text-align: center;
}
.list-noti{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: rgb(255, 255, 255);
}
.list-noti li{
  padding: 2% 5%;
}
.list-noti li:not(:last-child){
  border-bottom: 1px solid rgb(226, 220, 220);
}
.list-noti li a{
  font-size: 12px;
  color: gray;
  display: block;
  text-align: left;
  height: 100%;  
  width: 100%;
}
.list-noti li:hover{
  background-color: antiquewhite;
  transition: 0.3s;
}
.list-noti li:hover a{
  text-decoration: none;
}
/* NMDung chinh sua css */
.nmd-footer {
    max-width: 1190px;
  }
  .logo-top {
    position: absolute;
    left: 120px;
    top: 35px;
  }
  .search-box {
    position: absolute;
    right: 200px;
  }
  .article-views {
    position: absolute;
    right: 40px;
  }
@media only screen and (max-width: 768px) {
  .trending .item {
    height: 80px;
  }
  .posts {
    margin-top: 30px;
    margin-left: 0;
  }
  .post {
    display: flex;
    padding-bottom: 0;
  }
  .post-img {
    width: 100%;
    padding: 15px;
  }
  .post-img img {
    border-radius: 15px;
  }
  .top-bar .extra-menu {
    flex-direction: column;
  }
  .dropBtn {
    overflow: hidden;
  }
  .search-box{
      position: initial;
  }
  .logo-top{
      position: initial;
  }
}

